In [2]:
# 필요한 라이브러리 재로드
import pandas as pd
from datetime import datetime

In [3]:
# 데이터 재로드
data_sanji = pd.read_csv("C:/Users/medici/Desktop/syrup/TRAIN_산지공판장_2018-2021.csv")
data_domestic = pd.read_csv("C:/Users/medici/Desktop/syrup/TRAIN_전국도매_2018-2021.csv")

In [4]:
# 날짜 형식 변환 함수 정의
def convert_date_format(date_str):
    year_month = date_str[:6]
    period = date_str[6:]
    month_start_date = datetime.strptime(year_month, '%Y%m')
    
    if '상순' in period:
        return month_start_date.replace(day=1).strftime('%Y-%m-%d')
    elif '중순' in period:
        return month_start_date.replace(day=11).strftime('%Y-%m-%d')
    elif '하순' in period:
        return month_start_date.replace(day=21).strftime('%Y-%m-%d')
    else:
        return date_str

# 날짜 형식 변환 적용
data_sanji['시점'] = data_sanji['시점'].apply(convert_date_format)
data_domestic['시점'] = data_domestic['시점'].apply(convert_date_format)

In [5]:
# 두 데이터셋 병합: 시점, 품목명, 품종명을 기준으로 병합
merged_data = pd.merge(
    data_sanji, data_domestic,
    on=['시점', '품목명', '품종명'],
    how='inner',
    suffixes=('_산지', '_도매')
)

In [6]:
merged_data.head()

,시점,공판장코드,공판장명,품목코드_산지,품목명,품종코드_산지,품종명,등급코드,등급명,총반입량(kg)_산지,...,저가(20%) 평균가,중간가(원/kg)_도매,최저가(원/kg)_도매,최고가(원/kg)_도매,경매 건수_도매,전순 평균가격(원) PreVious SOON_도매,전달 평균가격(원) PreVious MMonth_도매,전년 평균가격(원) PreVious YeaR_도매,평년 평균가격(원) Common Year SOON_도매,연도_도매
0,2018-01-01,1000000000,*전국농협공판장,501,감자,50101,수미,11,특,15470.0,...,867.893389,1261.000000,0.000000,9859.633333,1229,168039.623201,27204.818622,22433.563798,18536.038912,2018
1,2018-01-01,1000000000,*전국농협공판장,501,감자,50101,수미,11,특,15470.0,...,895.708161,1425.000000,50.000000,3500.000000,355,28447.177502,25270.124064,21525.673046,17081.723834,2018
2,2018-01-01,1000000000,*전국농협공판장,501,감자,50101,수미,11,특,15470.0,...,1175.552721,950.000000,400.000000,1979.867987,31,30918.106771,25443.441433,23757.961783,0.000000,2018
3,2018-01-01,1000000000,*전국농협공판장,501,감자,50101,수미,11,특,15470.0,...,1176.740918,777.884615,150.000000,2250.000000,38,35521.170813,29637.598242,24943.970683,20202.840920,2018
4,2018-01-01,1000000000,*전국농협공판장,501,감자,50101,수미,11,특,15470.0,...,987.213891,1282.500000,208.333333,2442.605634,22,28678.477528,25526.520718,23843.787309,18111.504723,2018

In [ ]:
merged_data.to_csv("/mnt/data/merged_sanji_domestic.csv", index=False)